<div class="bookings">
  <% @bookings.each do |b| %>
    <%= link_to booking_messages_path(b) do %>
      <% if @booking == b %>
        <div class="message-inbox-active">
          <div class="avatar">
            <%= cl_image_tag(b.user.photo, class: "avatar")%>
          </div>
          <div class="message-name">
            <h3><%= b.user.first_name %> <%= b.user.last_name %></h3>
            <p><%= b.event.date %></p>
          </div>
          <div class="message-body">
            <p><strong><%= b.event.title %></strong></p>
          </div>
        </div>
      <% else %>
          <div class="message-inbox">
            <div class="avatar">
              <%= cl_image_tag(b.user.photo, class: "avatar")%>
            </div>
            <div class="message-name">
              <h3><%= b.user.first_name %> <%= b.user.last_name %></h3>
              <p><%= b.event.date %></p>
            </div>
            <div class="message-body">
              <p><strong><%= b.event.title %></strong></p>
            </div>
          </div>
        <% end %>
    <% end %>
  <% end %>
</div>
