<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= simple_form_for(@user) do |f| %>
      <%= f.input :first_name, autofocus: true %>
      <%= f.input :last_name %>
      <%= f.label :status, "Etes vous un pleureur ?" %>
      <%= f.check_box :status %>
      <div class="toto" id="hiddenfield">
        <%= f.input :description, required: true %>
        <%= f.input :tarif, required: :true %>
        <%= f.input :location, required: :true %>
      </div>
      <%= f.input :description %>
      <%= f.input :phone_number %>
      <%= f.input :tarif %>
      <%= f.input :location %>
      <%= f.submit "Update profile" %>
      <% end %>
    </div>
  </div>
</div>
