<div class="events">
  <p class="title text-center">All your reviews</p>
  <% @reviews.each do |review| %>
    <div class="event-card">
        <div class="event-description">
          <div class="event-title">
            <h3><%= review.booking.event.title  %></h3>
          </div>
          <div class="event-date inblack">
            <p><%= review.booking.event.date %></p>
          </div>
          <div class="event-location">
           <p><%= review.booking.event.location %></p>
          </div>
        </div>
        <div class="event-bookings">
          <div class="message inblack">
            <div class="avatar">
              <%= cl_image_tag(review.booking.event.user.photo, class: "avatar")%>
            </div>
            <div class="message-name inblack">
              <h3><%= review.booking.event.user.first_name%> </h3>
            </div>
            <div class="message-body inblack">
              <p><%= review.content %></p>
            </div>
            <div class="message-rating ">
              <p>rating</p>
              <p class= "inblack"><em><%= review.rating %> / 5</em></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
</em>
