<div class="events">
  <% if @events.empty?  %>
    <%= link_to new_event_path do %>
    <div class="flex text-center">
      <i class="fa fa-plus fa-bg" aria-hidden="true">  Create an event</i>
    </div>
    <% end %>
  <% else %>
  <p class="title text-center">All your events</p>

    <% @events.each do |e| %>

      <div class="event-card" id="ev-<%=e.id%>" >

          <div class="event-description">
            <div class="event-title">
              <h3><%= e.title %></h3>
            </div>
            <div class="event-date">
              <p><%= e.date %></p>
            </div>
            <div class="event-location">
             <p><%= e.location %></p>
            </div>
            <%= link_to event_path(e), method: :delete, remote: true do %>
              <i class="fa fa-times fa-bg status declined hover" aria-hidden="true"></i>
            <% end %>
          </div>

          <div class="event-bookings">

            <% e.bookings.each do |b| %>

             <div class="message" id="bk-<%=b.id%>">
                  <div class="avatar">
                    <%= cl_image_tag(b.user.photo, class: "avatar")%>
                  </div>
                  <div class="message-name">
                    <h3><%= b.user.first_name %> <%= b.user.last_name %></h3>
                    <p><%= e.date %></p>
                  </div>
                  <div class="message-body">
                    <p>
                      <% if !b.messages.empty? %>
                        <%= b.messages.last.content %>
                        <% else %>
                        <p><em>No messages sent yet</em></p>
                      <% end %>
                    </p>
                  </div>
                  <div class="message-status">
                    <p class="status pending"><%= b.status %></p>
                    <p class="price"><%= b.price %>€</p>
                  </div>

                  <div class="message-actions">

                    <%= link_to booking_path(b), method: :delete , remote: true do %>
                      <i class="fa fa-times fa-bg status declined hover" aria-hidden="true"></i>
                    <% end %>

                  </div>
                </div>


            <% end %>

              <%= link_to event_path(e) do %>
              <div class="add-booking text-center">
                <i class="fa fa-plus fa-bg" aria-hidden="true">  Book another weeper</i>
              </div>
              <% end %>


          </div>

      </div>

    <% end %>

  <% end %>

</div>

