<div class="container">
  <div class="user_information">
    <div class="flex">
      <div class="avatar">
        <%= cl_image_tag(@user.photo, class: "avatar dropdown-toggle")%>
      </div>
      <div class="information">
        <ul class="list-unstyled">
          <li class="name"><%= @user.first_name %> <%= @user.last_name %></li>
          <li class="details"><%= @user.email %></li>
          <li class="details"><%= @user.phone_number %></li>
          <li class="details"><%= @user.location %></li>
          <li class="details"><%= @user.status %></li>
        </ul>
      </div>
    </div>
    <div class="description">
      <p class="title">Description</p>
      <p><%= @user.description %></p>
    </div>
    <%= link_to "Edit profile", edit_user_path(@user) %>
  </div>
  <div class="events">
    <p class="title text-center">All your events</p>
    <ul class="list-unstyled">
      <% @events.each do |e| %>
        <%= link_to event_path(e) do %>
          <li class="event-card">
            <div class="event-content">
              <div class="event-description">
                <p><%= e.title %></p>
                <p><%= e.date %></p>
                <p><%= e.location %></p>
              </div>
              <ul class="list-unstyled">
                <% e.bookings.each do |b| %>
                  <li><%= b.user.first_name %></li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      <% end %>

  <div class="bookings">
    <p class="title text-center">All your bookings</p>
    <ul class="list-unstyled">
      <% @bookings.each do |b| %>
          <li class="event-card">
            <div class="event-content">
              <div class="event-description">
                <p><%= b.event.title %></p>
                <p><%= b.event.date %></p>
                <p><%= b.event.location %></p>
              </div>
            </div>
          </li>
      <% end %>
    </div>
