<%if not @bookings.first.nil?  %>
<div class="event-show-bookings">
  <h4 class="text-center">Your current bookings</h4>
      <div class="row">
        <% @bookings.each do |booking| %>
          <div class="col-xs-6 col-sm-4">
            <div class="booking-card">
              <%= link_to user_path(booking.user) do %>
                <div class="card small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.user.photo? ? (cl_image_path booking.user.photo) : ('https://picsum.photos/g/100/100') %>');">
                  <div class="card-description">
                    <h2><%= booking.user.first_name.capitalize %></h2>
                    <p><%= booking.user.tarif %> € </p>
                  </div>
                </div>
                      <% if booking.status == "pending" %>
                        <div class="btn btn-primary text-center" style="width: 100%;">Status: <%= booking.status %></div>
                      <% elsif booking.status == "declined" %>
                        <div class="btn btn-danger text-center" style="width: 100%;">Status: <%= booking.status %></div>
                      <% else  %>
                        <div class="btn btn-success text-center" style="width: 100%;">Status: <%= booking.status %></div>
                      <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
</div>
<% end %>
