<!-- simple form pour affiche lieu, date, titre  -->

<div class="wrap img-cover">
  <div class= "container form-box">
    <div class= "row">
      <div class= "col-xs-12 form">
      <h2 class= "text-center" style="padding-bottom: 50px">Create an event</h2>
      <%= simple_form_for [@event] do |f| %>
        <%= f.input :title %>
        <%= f.input :location %>
        <%= f.input :date %>
        <div class= "text-center margin_top">
          <% if policy(Event).create? %>
        <%= f.submit class:"btn-medium"%>
        <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

</div>

