<div class="container ">
  <div class="row">
    <div class="col-xs-6-col-xs-offset-3 ">
      <h1 class="yourevent"><%= @event.title %></h1>
        <p><em>On <%= @event.date.strftime('%A, %b %d') %>, at <%= @event.location %></em> </p>
    </div>
  </div>
</div>






        <ul>
          <% @bookings.each do |b| %>
          <li>Request sent to <%= b.user.first_name %> <%= b.user.last_name %></li>
          <li>Status: <%= b.status %></li>
          <li>price: <%= b.price %>€</li>
          <% end %>
        </ul>


