<div class="container ">
  <div class="row">
    <div class="col-xs-6-col-xs-offset-3 ">
      <h1 class="yourevent"><%= @event.title %></h1>
        <p><em>On <%= @event.date.strftime('%A, %b %d') %>, at <%= @event.location %></em> </p>
    </div>
  </div>
</div>

<!-- Part 1 display sweeper already booked or request send  -->

<%= render 'show_bookings' %>

<!-- Part 2 display sweeper available, build forms to create a booking -->

<%= render 'show_available_weepers' %>



<div
  id="map"
  style="width: 50%;
  height: 600px;
  margin-top: 30px;"
  data-markers="<%= @markers.to_json %>"
></div>


