<div class="container ">
  <div class="row">
    <div class="col-xs-6-col-xs-offset-3 ">
      <h1 class="yourevent"><%= @event.title %></h1>
        <p><em>On <%= @event.date.strftime('%A, %b %d') %>, at <%= @event.location %></em> </p>
    </div>
  </div>
</div>

<!-- Part 2 display sweeper available, build forms to create a booking -->

<div class="container">
  <div class="row">

    <% @users.each do |user|%>

      <div class="col-xs-6 col-sm-4">

        <%= link_to user_path(user) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('cl_image_tag(user.photo');">
            <div class="card-description">
              <h2><%= user.first_name.capitalize %></h2>
              <p><%= user.tarif %> € </p>
            </div>
          </div>
        <% end %>
          <div class="text-center">
            <%= simple_form_for [@event, @booking] do |f| %>
            <%= hidden_field_tag(:user_id, user.id) %>
            <%= f.submit "send a request", class: "btn btn-success", style: "width: 100%" %>
            <% end %>
          </div>

      </div>

    <% end %>

  </div>
</div>


