<%= audio_tag("sound.mp3", autoplay: true, hidden: true) %>

<%= render 'shared/banner' %>

<div class="container">
  <div class="row">
    <h3>Find a weeper close to you</h3>
    <%= form_tag(root_path, method: :get, remote: true) do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Try 'Paris'"
      %>
    <% end %>
  </div>
</div>



<!-- all users -->
<div id="wrapper">
  <%= render 'user_profiles' %>
</div>


